In [2]:
#Data Structures 
## Lists
lst = [1,2,3,4,5,6,7,8,9,10]
lst[9]

10

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[-1]

10

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[-3]

8

In [8]:
#slicing(using ":") 
#lst [start:end:step:]
lst = [1,2,3,4,5,6,7,8,9,10]
lst[0:5]

[1, 2, 3, 4, 5]

In [10]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[3:8]

[4, 5, 6, 7, 8]

In [14]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[-4:]

[7, 8, 9, 10]

In [15]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[10::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[0:10:2]

[1, 3, 5, 7, 9]

In [33]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[9:5:-1]

[10, 9, 8, 7]

In [40]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[-9:-5]

[2, 3, 4, 5]

In [42]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[::5]

[1, 6]

In [44]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[:-5]

[1, 2, 3, 4, 5]

In [45]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
fruits = ['banana','apple','watermelon','mango','grapes','orange']
fruits

['banana', 'apple', 'watermelon', 'mango', 'grapes', 'orange']

In [51]:
type(fruits)

list

In [53]:
fruits[0:3]

['banana', 'apple', 'watermelon']

In [56]:
fruits[-1]

'orange'

In [2]:
fruits = ['banana','apple','watermelon',[0,1],'mango','grapes','orange']
fruits

['banana', 'apple', 'watermelon', [0, 1], 'mango', 'grapes', 'orange']

In [3]:
fruits[3]

[0, 1]

In [4]:
fruits[5]

'grapes'

In [3]:
#methods of list 
# Append()
fruits = ['banana','apple','watermelon','mango','grapes','orange']
fruits.append('jackfruit')
fruits

['banana', 'apple', 'watermelon', 'mango', 'grapes', 'orange', 'jackfruit']

In [14]:
#extend()
fruits = ['banana','apple','watermelon','mango','grapes','orange']
fruits.extend(['guava','dragon'])
print(fruits)

['banana', 'apple', 'watermelon', 'mango', 'grapes', 'orange', 'guava', 'dragon']

In [15]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst.append(11)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst.extend([11,12,13])
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [17]:
#insert
lst = [1,2,3,4,5,6,7,8,9,10]
lst.insert(4,100)
print(lst)

[1, 2, 3, 4, 100, 5, 6, 7, 8, 9, 10]

In [23]:
fruits = ['banana','apple','watermelon','mango','grapes','orange']
fruits.insert(4,'apple') # apple is added on the 4th index position
print(fruits)

['banana', 'apple', 'watermelon', 'mango', 'apple', 'grapes', 'orange']

In [22]:
lst = [2,7,5,3,8,1,7,4,0]
lst.insert(4,11)
print(lst)

[2, 7, 5, 3, 11, 8, 1, 7, 4, 0]

In [24]:
#remove 
fruits = ['banana','apple','watermelon','mango','grapes','orange']
fruits.remove('watermelon')
print(fruits)

['banana', 'apple', 'mango', 'grapes', 'orange']

In [26]:
fruits = ['banana', 'apple', 'watermelon', 'mango', 'apple', 'grapes', 'orange']
fruits.remove('apple')
print(fruits)

['banana', 'watermelon', 'mango', 'apple', 'grapes', 'orange']

In [27]:
#pop
fruits = ['banana', 'apple', 'mango', 'grapes', 'orange']
fruits.pop(3)
print(fruits)

['banana', 'apple', 'mango', 'orange']

In [28]:
#clear
fruits = ['banana', 'apple', 'mango', 'grapes', 'orange']
fruits.clear()
print(fruits)

[]

In [29]:
fruits

[]

In [32]:
#index
names = [9,'apple',5.2,'banana',2325,22.22]
names.index(5.2)

2

In [33]:
#count
nums = [3,6,2,7,3,2,8,0,3,3,3]
print(nums.count(3))

5

In [35]:
#sort
nums = [3,6,2,7,3,2,8,0,3,3,3]
nums.sort()
print(nums)

[0, 2, 2, 3, 3, 3, 3, 3, 6, 7, 8]

In [37]:
#reverse
nums = [3,6,2,7,3,2,8,0]
nums.reverse()
print(nums)

[0, 8, 2, 3, 7, 2, 6, 3]

In [40]:
#copy
nums = [3,6,2,7,3,2,8,0]
lst = nums.copy()
print(lst)

[3, 6, 2, 7, 3, 2, 8, 0]

In [41]:
nums = [3,6,2,7,3,2,8,0]
lst = [1,2,3,4]
lst = nums.copy()
print(lst)

[3, 6, 2, 7, 3, 2, 8, 0]

In [42]:
#len
nums = [3,6,2,7,3,2,8,0]
print(len(nums))

8

In [44]:
#example program
nums = [3,6,2,7,3,2,8,0]
new_lst = []
for i in nums:
    if i not in new_lst:    # if 3 not in new_lst it will append into the new_lst
        new_lst.append(i)
print(new_lst)

[3, 6, 2, 7, 8, 0]

In [45]:
type(nums)

list

In [1]:
#tuple
t = (1,4,3,6)
type(t)

tuple

In [2]:
list(t)

[1, 4, 3, 6]

In [3]:
t1 = (1,'apple',9.5,23,45.76,'orange')
t1[3]

23

In [7]:
t1 = (1,'apple',(9.5,23),[45.76,'orange'])
t1[2][1]

23

In [8]:
t1[3][0]

45.76

In [9]:
t1[1:]

('apple', (9.5, 23), [45.76, 'orange'])

In [10]:
len(t1)

4

In [11]:
# immutable : we cqnnot change the data in a tuple 
t1 = (1,'apple',9.5,23,45.76,'orange')
t1[1] = 'mango'

TypeError: 'tuple' object does not support item assignment

In [15]:
# tuple operations
t2 = (3,4,5,6)
t3 = (2,3,4,5)
print(t2+t3) # concatenation process
print(t2*4) # repeaatation
print(len(t2)) #length of the tuple
print(3 in t2) # membership

(3, 4, 5, 6, 2, 3, 4, 5)
(3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6)
4
True

In [16]:
# tuple methods
#count of an element
t1 = (1,'apple',9.5,23,45.76,'orange',1,1)
print(t1.count(1))

3

In [17]:
#index
t1 = (1,'apple',9.5,23,45.76,'orange')
print(t1.index(1))

0

In [19]:
t1 = (1,2,3,4,5,6,7,8,9)
for i in t1:
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
#tuple unpacking 
tup = ('rohan',17,'btech')
(name,age,qualification) = tup
print(name)
print(age)
print(qualification)

rohan
17
btech

In [21]:
def calculate(a,b):
    return (a+b,a-b,a*b)
result = calculate(10,5)
print(result)

(15, 5, 50)

In [22]:
add,sub,mul = calculate (10,5)
print(add)
print(sub)
print(mul)

15
5
50

In [1]:
# Strings
s1 = 'python'
s2 = "program"
s3 = '''this is multi line string'''

In [3]:
# string concatenation (adding of two string)
s = 'rohan'
name = "hello "+ s
print(name)

hello rohan

In [5]:
# repeatation
word = ' apple '
print(word*3)

 apple  apple  apple

In [10]:
#string slicing 
text = 'python'
print(text[2])
print(text[-1])
print(text[0:3])
print(text[2:])

t
n
pyt
thon

In [11]:
# string methods
msg = " welcome to python program "
print(msg.upper())

 WELCOME TO PYTHON PROGRAM

In [13]:
msg = " WELCOME TO PYTHON PROGRAM  "
print(msg.lower())

 welcome to python program

In [16]:
#strip method (it will remove extra spaces)
msg = " welcome to python program " 
print(msg.strip())
print(msg)

welcome to python program
 welcome to python program

In [15]:
msg = " welcome to python program "
print(msg[0])

In [18]:
#replace method
msg = "welcome to python program"
print(msg.replace('python','java'))

welcome to java program

In [19]:
# split method
msg = "welcome to python program"
print(msg.split())

['welcome', 'to', 'python', 'program']

In [21]:
#checking substring
msg = "welcome to python program"
print('python' in msg)
print('apple' in msg)

True
False

In [25]:
#string formatting
name = 'rohan'
age = 17
print("my name is {} and I am {} years old.".format(name,age))
print(f"my name is {name} and I am {age} years old.")

my name is rohan and I am 17 years old.
my name is rohan and I am 17 years old.

In [27]:
name = 'rohan'
print(name[::-1])

nahor

In [28]:
name  = 'rohan'
new_str = ''
for i in name:  # i='r',i='o',i='h',i='a',i='n'
    new_str = i+new_str # 'r'+'' ='r' ; 'o'+'r' = 'or' ; 'h'+'or' = 'hor' 
print(name)
print(new_str)

rohan
nahor

In [29]:
'r'+''

'r'

In [33]:
text = input("enter a input:")
rev_str = ''
for i in text :
    rev_str = i+rev_str
if text == rev_str:
    print("palindrome")
else:
    print("not plaindrome")

enter a input: madam

palindrome

In [1]:
# counting vowels in a string
st = 'welcome to pyhton'
vowels = 'aeiou'
count = 0
for char in st:
    if char in vowels:
        count += 1
print(count)

5

In [5]:
#sets
s1 = {1,2,3,4,5}
l1 = [1,2,3,4,5]
l2 = set(l1)
print(l2)

{1, 2, 3, 4, 5}

In [6]:
s2 = {15,'rohan',10.5,15}
print(s2)

{'rohan', 10.5, 15}

In [8]:
# set operations
# union
x = {2,5,4}
y = {4,7,6}
print(x|y)
print(x.union(y))

{2, 4, 5, 6, 7}
{2, 4, 5, 6, 7}

In [10]:
#intersection
x = {2,3,4}
y = {3,4,5}
print(x&y)
print(x.intersection(y))

{3, 4}
{3, 4}

In [16]:
#difference 
a = {1,2}
b = {5,6}
print(a-b) 
print(a.difference(b))
print(b-a)

{1, 2}
{1, 2}
{5, 6}

In [18]:
# symmetric difference
a = {1,2,3,4}
b = {3,4,5,6}
print(a^b)
print(a.symmetric_difference(b))

{1, 2, 5, 6}
{1, 2, 5, 6}

In [20]:
# set methods
#add
s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [21]:
#update
s = {1,2,3,4}
s.update([5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [23]:
#remove
s = {1,2,3,4,5,6}
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

In [26]:
# discard
s = {1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

In [27]:
# pop
s = {1,2,3,4}
s.pop()
print(s)

{2, 3, 4}

In [28]:
# clear
s = {1,2,3,4}
s.clear()
print(s)

set()

In [30]:
s = {'red','blue','orange'}
print('red' in s)
print('blue' not in s)

True
False

In [7]:
nums = [3,6,2,7,3,2,8,0]
new_nums = set(nums)
print(nums)
print(new_nums)

[3, 6, 2, 7, 3, 2, 8, 0]
{0, 2, 3, 6, 7, 8}

In [32]:
a = {1,2,3,4}
b = {3,4,5,6}
print(a.issubset(b))
print(b.issuperset(a))

False
False

In [34]:
a = {1,2,3}
b = {1,2,3,4,5}
print(a.issubset(b))
print(b.issuperset(a))

True
True

In [36]:
nums = {3,6,2,7,3,2,8,0}
print(min(nums))
print(max(nums))

0
8

In [8]:
# dictionary methods
#dic = {key:value}
student = {'name':'rohan','section':'A','age':18}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'section', 'age'])
dict_values(['rohan', 'A', 18])
dict_items([('name', 'rohan'), ('section', 'A'), ('age', 18)])

In [9]:
student = {'name':'rohan','section':'A','age':18}
print(student['name'])

rohan

In [12]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
type(mixed_dict)
print(mixed_dict[1])
print(mixed_dict.get(1))

100
100

In [13]:
# updating and adding values in dictinary
mixed_dict[8] = 'hundred'
print(mixed_dict)

{1: 100, 'name': 'rohan', 2.3: 6.3, 5: 'apple', 8: 'hundred'}

In [14]:
mixed_dict[5] = 'mango'
print(mixed_dict)

{1: 100, 'name': 'rohan', 2.3: 6.3, 5: 'mango', 8: 'hundred'}

In [15]:
#removing values from dict
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
mixed_dict.pop(1)

100

In [16]:
print(mixed_dict)

{'name': 'rohan', 2.3: 6.3, 5: 'apple'}

In [18]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
del mixed_dict['name']
print(mixed_dict)

{1: 100, 2.3: 6.3, 5: 'apple'}

In [19]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
mixed_dict.clear()
print(mixed_dict)

{}

In [25]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
for key in mixed_dict.keys():
    print(key)

1
name
2.3
5

In [24]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
for value in mixed_dict.values():
    print(value)

100
rohan
6.3
apple

In [29]:
mixed_dict = {1:100,'name':'rohan',2.3:6.3,5:'apple'}
for key,value in mixed_dict.items():
    print(key,":",value)

1 : 100
name : rohan
2.3 : 6.3
5 : apple

In [33]:
# nested dictionary
d = {'d1':{1:100,'name':'rohan'},'d2':{'name':'virat','age':13}}
print(d['d1']['name'])

rohan

In [34]:
print(d.keys())

dict_keys(['d1', 'd2'])

In [35]:
print(d.values())

dict_values([{1: 100, 'name': 'rohan'}, {'name': 'virat', 'age': 13}])

In [36]:
print(d.items())

dict_items([('d1', {1: 100, 'name': 'rohan'}), ('d2', {'name': 'virat', 'age': 13})])

In [1]:
# dictionary comprehension
squares = {x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [7]:
cubes = {x:x**3 for x in range(1,6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [8]:
mixed_dict = {(1,2,3):100,'name':['rohan','virat'],2.3:6.3}
type(mixed_dict)

dict

In [9]:
print(mixed_dict[2.3])

6.3

In [11]:
print(mixed_dict[(1,2,3)])

100

In [14]:
print(mixed_dict['name'][1])

virat

In [17]:
string = 'welcome to python program python program'
dic = {}
for i in string.split():
    print(i)
    dic[i] = dic.get(i,0)+1    # dic[welcome] = dic.get(welcome,0)+1
print(dic)

welcome
to
python
program
python
program
{'welcome': 1, 'to': 1, 'python': 2, 'program': 2}

In [18]:
# merge
dic1 = {1:100,2:200}
dic2 = {11:111 , 12:1212}
merge = {**dic1,**dic2}
print(merge)

{1: 100, 2: 200, 11: 111, 12: 1212}

In [20]:
d = {1:100,2:299,5:433,3:999,4:50}
maximum = max(d,key = d.get)
minimum = min(d,key = d.get)
print(maximum)
print(minimum)

3
4

In [22]:
lst1 = [1,2,3]
lst2 = [100,200,300]
values = dict(zip(lst1,lst2))
print(values)

{1: 100, 2: 200, 3: 300}

In [26]:
string = 'rohan'
dic = {}
for i in string:
    dic[i] = dic.get(i,0)+1
print(dic)

{'r': 1, 'o': 1, 'h': 1, 'a': 1, 'n': 1}